language: python
python:
  - "3.5"
  - "3.6"
addons:
  apt:
    packages:
      - oracle-java8-set-default
install:
  - pip install coveralls pep8 pep257
  - python setup.py install
script:
  - python setup.py test
  - python trilpy_tests.py
after_success:
  - coverage run --source=trilpy setup.py test
  - coveralls
